In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [123]:
df = pd.read_csv("hiring.csv")


from word2number import w2n
df.experience = df.experience.fillna("zero")
df.experience = df.experience.apply(w2n.word_to_num)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [124]:
#calculate the media to fill the null values in the test_score data
import math
median_test_score = math.floor(df['test_score(out of 10)'].mean())
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(median_test_score)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [120]:
# replace zero with the median or mean value of the experience column
# median_experience = math.floor(df.experience.mean())
# def replace_zero_with_median_experience(value):
#     return median_experience if value == 0 else value
# df.experience = df.experience.apply(replace_zero_with_median_experience)
# df

In [125]:
# create a model
features = df[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']]
X = features
y = df['salary($)']
model = linear_model.LinearRegression()
model.fit(X, y)

LinearRegression()

In [126]:
test_X = np.array([[2,9,6], [12,10,10]])
pred = model.predict(test_X)
pred

C:\Users\JjayFabor\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53713.86677124, 93747.79628651])